.sgn__pp
    position relative
    color #000
    overflow hidden
    outline 0

    &:not([data-started])
        .sgn-pp__progress-label,
        .sgn-pp__progress,
        .sgn-pp__control
            display none
    
    &[data-started]
        .sgn-pp__control
            transition opacity ease 1s
        
        .sgn-pp__progress,
        .sgn-pp__progress-label
            transition all ease 1s

    &[data-color-brightness="dark"]
        color #fff

    &[data-layout-absolute="true"]
        absolute top left
        right 0
        bottom 0
        z-index 1

    &[data-layout-fixed="true"]
        fixed top left
        right 0
        bottom 0
        z-index 1

    &[data-navigating="true"]
        .verso--scrollable
            overflow hidden

    &[data-idle="true"]
        .sgn-pp__progress-label:not(.sgn-pp--hidden),
        .sgn-pp__progress:not(.sgn-pp--hidden)
            animation progressAnimation 2s 1 forwards

    &[data-zoomed-in="true"]
        .sgn-pp__progress,
        .sgn-pp__progress-label,
        .sgn-pp__control
            display none

    [data-active="true"]
        .sgn-pp-page__loader
            animation pageLoaderAnimation 2s infinite
            animation-delay 0.5s
    
    > .verso
        absolute top left
        right 0
        bottom 0
        z-index 1

    .sgn-pp--hidden
        pointer-events none !important
        cursor default !important
        opacity 0 !important

.sgn-pp__pages
    display none

.sgn-pp__progress
    position absolute
    left 0
    right 0
    bottom 0
    z-index 2
    height 4px
    
.sgn-pp-progress__bar
    width 0%
    height 4px
    background-color rgba(#000, 0.3)

.sgn-pp__progress-label
    position absolute
    left 50%
    bottom 12px
    transform translateX(-50%)
    width auto
    display inline-block
    z-index 2
    background-color rgba(#000, 0.3)
    color #fff
    text-align center
    padding 6px 18px
    border-radius 6px
    font-weight bold
    font-size 14px
    font-family "Lucida Sans Unicode", "Lucida Grande", sans-serif
    letter-spacing -1px

.sgn-pp__control
    position absolute
    top 50%
    z-index 2
    width 40px
    height 50px
    margin-top -25px
    line-height 0.5
    text-align center
    color #fff
    text-shadow 0 0 18px rgba(#000, 0.24), -1px -1px 1px rgba(#000, 0.3), 1px -1px 1px rgba(#000, 0.3), -1px 1px 1px rgba(#000, 0.3), 1px 1px 1px rgba(#000, 0.3)
    text-decoration none
    font-family 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif
    font-weight normal
    font-size 80px
    opacity 0.5
    
    &:hover,
    &:focus
        color #fff
        text-decoration none
    
    &:hover,
    &:active
        opacity 1

    &[data-direction="prev"]
        left 0
    
    &[data-direction="next"]
        right 0

    // Show controls when using an accurate pointing device pointer device such as a mouse.
    @media (pointer: coarse)
        display none

.sgn-pp__page
    background-size contain

.sgn-pp-page__loader
    display table
    width 100%
    height 100%
    text-align center
    color inherit
    font-size 4em
    font-weight bold
    font-family inherit
    
    > *
        display table-cell
        vertical-align middle

.sgn-pp__hotspot
    background-color rgba(#fff, 0.1)
    box-shadow 0 0 15px rgba(#000, 0.3)
    border-radius 4px
    border 2px solid rgba(#fff, 0.8)
    opacity 0
    
    &:hover
    &:focus
        opacity 1

.sgn-pagedecoration-hotspot
    position absolute
    z-index 99
    box-shadow unset
    border 0
    opacity 1
    background-color unset

.sgn-pagedecoration-hotspot-link
    text-decoration none
    font-size 14px

.sgn-pagedecoration-hotspot-link-content
    display flex
    align-items flex-end
    padding 0.5rem
    width 100%
    height 100%

    &:hover
        background-color rgba(#fff, 0.1)
        box-shadow 0 0 15px rgba(#000, 0.3)
        border-radius 4px
        border 2px solid rgba(#fff, 0.8)

.sgn-pagedecoration-hotspot-link-label
    position absolute
    right 4px
    top 4px
    color #3e3e3e
    border-radius 6px
    padding 6px
    background-color #fff
    box-shadow rgba(0, 0, 0,  0.4) 0px 5px 16px, rgba(0, 0, 0, 0.2) 0px 0px 1px

@media (pointer: coarse)
    .sgn-pp__hotspot
        opacity 0 !important

.sgn-pp__page-spread--dark
    background-color rgba(#000, 0.35)
    color #fff

@keyframes progressAnimation
    0%
        opacity 1
    
    100%
        opacity 0.2

@keyframes pageLoaderAnimation
    0%
        opacity 1
    
    50%
        opacity 0.2
    
    100%
        opacity 1