.sgn__incito
    position relative
    outline 0

    &.sgn-incito--started
        .sgn-incito__progress
            display inline-block

.sgn-incito__progress
    box-sizing border-box
    position fixed
    left 50%
    bottom 20px
    display none
    z-index 2
    background-color #000
    color #fff
    width 100px
    margin-left -50px
    text-align center
    padding 8px 0
    border-radius 6px
    font-weight bold
    font-size 14px
    font-family "Lucida Sans Unicode", "Lucida Grande", sans-serif
    letter-spacing -1px
    line-height 1

    &:hover
        opacity 1
    
    @media (min-width: 700px)
        padding 16px 0
        font-size 18px

    @supports (unquote('max(20px, env(safe-area-inset-bottom))'))
        bottom unquote('max(20px, env(safe-area-inset-bottom))')