.sgn__header
    position absolute
    display none
    font-family sans-serif
    z-index 99
    height 80px
    margin auto
    width 100%
    text-align center
    animation-duration .3s
    animation-iteration-count 1
    animation-name sgn-animate-header
    animation-timing-function ease

    > .sgn__nav
        position relative
        display inline-block
        border-radius 12px
        margin-top 8px
        overflow hidden
        box-shadow rgba(0, 0, 0,  0.4) 0px 5px 16px, rgba(0, 0, 0, 0.2) 0px 0px 1px
        text-align center
        color inherit

        .sgn__nav-content
            padding 8px 14px 2px

            > button
                color inherit
                background-color transparent
                display inline-block
                vertical-align middle
                padding 2px 14px
                border 0
                cursor pointer

                > svg
                    width 25px

                .sgn-header-icon-svg-close
                    width 18px

                .sgn__offer-shopping-list-counter
                    display block
                    position absolute
                    margin-left 20px
                    margin-top -34px
                    padding 1px
                    background #f3f3f9
                    color #202020
                    border-radius 10px
                    font-size 11px
                    box-shadow 1px 2px rgba(0, 0, 0, 0.3)
                    width 17px
                    height 17px
                    line-height 1.5
                    animation-duration .4s
                    animation-iteration-count 1

        .sgn-pp__progress
            height 16px
            position relative
            background-color: rgba(0,0,0,0.1);
            animation none!important

            .sgn-pp-progress__bar
                height 16px
                background-color rgba(0,0,0,0.2)

            .sgn-pp__progress-label
                display block
                font-family inherit
                bottom 2px
                font-size 11px
                margin-top 16px
                padding 0
                background transparent
                animation none!important
                color inherit

        .sgn-incito__scroll-progress
            width 100%
            height 16px
            background-color rgba(0,0,0, 0.1)
            position relative
            line-height 1.4

            .sgn-incito__scroll-progress-bar
                height 100%
                background-color rgba(0,0,0, 0.2)
                transition transform 0.2s ease 0s
                transform-origin 0px 0px
                transform scaleX(0)
            
            .sgn-incito__scroll-progress-text
                margin auto
                width 100%
                height 100%
                font-size 11px
                text-align center
                position absolute
                transform translateX(-50%)

.sgn-animate-bounce
    animation-name sgn-animate-bounce
    animation-timing-function ease


.sgn-animate-header
    display block
    animation-name sgn-animate-header
    animation-timing-function ease

@keyframes sgn-animate-bounce
    0%
        transform translateY(0)
    50%
        transform translateY(-8px)
    100%
        transform translateY(0)

@keyframes sgn-animate-header
    0%
        transform translateY(-100px)
    100%
        transform translateY(0)