.sgn-shopping-popup
    position relative
    background #F3F3F9
    color #202020
    border-radius 12px
    padding 10px
    width 90%
    max-width 666px
    margin auto
    margin-top 80px
    box-shadow rgba(0, 0, 0, 0.7) 0px 20px 55px, rgba(0, 0, 0, 0.3) 0px 0px 1px
    text-align left

    button
        background-color #d3d3d3
        padding 4px 10px
        font-size 12px
        border-radius 6px
        border 0
        min-width 70px
        transition .2s

        &:hover
            opacity 0.8
            cursor pointer

    .sgn-popup-header-label
        float left
        width 80%

    .sgn-menu-share
        float left
        width 20%
        text-align right

    .sgn-shopping-share-list-btn
        background-color transparent
        min-width 0
        padding 0

        > svg
            width 25px

.sgn-shopping-dd
    display block
    z-index 9
    position absolute
    background #F3F3F9

.sgn-shopping-list-items-container
    height 450px
    overflow-y scroll
    list-style-type none
    padding 10px
    color #202020

    > li
        &:hover
            cursor pointer

    .sgn-shopping-list-item-container-crossed
        text-align center
        padding-top 15px

.sgn-shopping-list-content-container
    border-bottom 1px solid #d5d5d5
    padding 10px
    align-items center

.sgn-popup-header
    border-bottom 1px solid #eee
    padding 10px
    font-weight 600
    font-size 18px

.sgn-shopping-list-content
    font-size 16px
    line-height 1.6
    overflow hidden
    text-overflow ellipsis

.sgn-shopping-list-item-container-ticked
    .sgn-shopping-list-content
        text-decoration line-through
        color rgb(139, 140, 143)

.sgn__theme-dark
    .sgn-shopping-popup
        background #1c1c1e
        color #f3f3f9

        button
            color #F3F3F9
            background-color #2c2c2e

    .sgn-popup-header
        border-bottom 1px solid rgba(0, 0, 0, 0.1)

    .sgn-shopping-list-items-container
        color #f3f3f9

    .sgn-shopping-list-content-container
        border-bottom 1px solid rgba(255, 255, 255, 0.1)


@media (max-height 790px)
    .sgn-shopping-list-items-container
        height 400px

@media print
    .sgn__header
        overflow visible
        position relative !important
        visibility hidden
        height auto
    
    .sgn__incito
        overflow inherit !important
        position relative !important
        z-index 9
        height auto

    .sgn-body-print *
        visibility hidden
        height 0

        .sgn__pp
            overflow inherit !important
            position relative !important
            z-index 9
            visibility hidden
            height auto

        .sgn__incito
            visibility hidden

        .sgn-modal-container
            position relative !important

        .sgn-show-print-section *
            visibility visible
            height auto

        .sgn-hide-print
            display none !important
            visibility hidden !important

        .sgn-shopping-popup
            box-shadow none
            color #000000 !important
            margin-top 0px

        .sgn-shopping-list-items-container
            overflow visible
            height 100%
            position relative
            color #000000 !important
        
        .sgn-shopping-list-content
            width 100%
            white-space normal