.sgn-shopping-popup
    position relative
    background #ffffff
    color #202020
    border-radius 12px
    padding 10px
    width 90%
    max-width 666px
    margin auto
    margin-top 80px
    box-shadow rgba(0, 0, 0, 0.7) 0px 20px 55px, rgba(0, 0, 0, 0.3) 0px 0px 1px
    text-align left

    button
        background-color #d3d3d3
        padding 4px 10px
        font-size 12px
        border-radius 6px
        border 0
        min-width 70px
        transition .2s

        &:hover
            opacity 0.8
            cursor pointer

    .sgn-popup-header-label
        float left
        width 80%

    .sgn-menu-share
        float left
        width 20%
        text-align right

    .sgn-shopping-share-list-btn
        background-color transparent
        min-width 0
        padding 0

        > svg
            width 25px

.sgn-shopping-list-items-container
    height 450px
    overflow-y scroll
    list-style-type none
    padding 10px
    color #202020

    .sgn-shopping-list-item-container-crossed
        text-align center
        padding-top 15px

.sgn-shopping-list-content-container
    border-bottom 1px solid #d5d5d5
    padding 10px

.sgn-shopping-list-content-container-total
    border-bottom unset !important

.sgn-popup-header
    border-bottom 1px solid #eee
    padding 10px
    font-weight 600
    font-size 18px

.sgn-shopping-list-content
    display flex
    flex 1
    align-items center
    gap 0.5rem
    font-size 16px
    line-height 1.6
    overflow hidden
    text-overflow ellipsis

    .sgn-shopping-list-content-heading
        flex 1

    .sgn-product-price-container
        display flex
        flex-direction row
        justify-content center
        align-items center

    .sgn-shopping-list-content-price
        font-weight 500
        font-size 1.2rem
        margin-left 0.3rem

    .sgn-offer-product-quantity
        width 110px

    .sgn-offer-product-quantity-content
        display flex
        border 1px solid rgba(0, 0, 0, 0.12)
        border-radius 19.5px
        overflow hidden
        padding 2px
        margin-right .1rem
        
        button
            min-width 0
            padding 0
            background transparent
            color #4e4e4e
            border-radius 100%
            border 1px solid #7b7b7b
            text-align center
            width 36px
            height 36px

            svg
                vertical-align middle
                width 16px
                height 16px

        input
            color #202020
            border unset
            background unset
            width 30px
            padding 8px 0
            text-align center

    .sgn-shopping-list-content-ticker-box
        &:hover
            cursor pointer

.sgn-shopping-list-item-container-ticked
    opacity 0.5

    .sgn-shopping-list-content-heading
        text-decoration line-through
        color rgb(139, 140, 143)

.sgn__theme-dark
    .sgn-shopping-popup
        background #1c1c1e
        color #f3f3f9

        button
            color #F3F3F9
            background-color #2c2c2e

    .sgn-popup-header
        border-bottom 1px solid rgba(0, 0, 0, 0.1)

    .sgn-shopping-list-items-container
        color #f3f3f9

    .sgn-shopping-list-content-container
        border-bottom 1px solid rgba(255, 255, 255, 0.1)


@media (max-height 790px)
    .sgn-shopping-list-items-container
        height 400px

@media (max-width 840px)
    .sgn-shopping-popup
        .sgn-product-price-container
            flex-direction column-reverse
            align-items flex-end

        .sgn-offer-product-quantity
            width auto
            margin-top .833rem

        .sgn-product-price
            flex 1
            font-size 1.2rem
            margin-top 1rem

        .sgn-offer-product-quantity-content
            button
                cursor pointer
                border 0.5px solid #7b7b7b

                svg
                    width 10px
                    height 10px

            input
                color #202020
                border unset
                background unset
                width 30px
                padding 8px 0
                text-align center

@media print
    .sgn__header
        overflow visible
        position relative !important
        visibility hidden
        height auto
    
    .sgn__incito
        overflow inherit !important
        position relative !important
        z-index 9
        height auto

    .sgn-body-print *
        visibility hidden
        height 0

        .sgn__pp
            overflow inherit !important
            position relative !important
            z-index 9
            visibility hidden
            height auto

        .sgn__incito
            visibility hidden

            &[data-component-template-enable-sidebar="true"]
                .incito
                    height 0

        .sgn-modal-container
            position relative !important

        .sgn-show-print-section *
            visibility visible
            height auto

        .sgn-hide-print
            display none !important
            visibility hidden !important

        .sgn-shopping-popup
            box-shadow none
            color #000000 !important
            margin-top 0px

        .sgn-shopping-list-items-container
            overflow visible
            height 100%
            position relative
            color #000000 !important
        
        .sgn-shopping-list-content
            width 100%
            white-space normal
            display flex

            .sgn-shopping-list-content-heading
                flex 1

            .sgn-product-price-container
                flex-direction row
