{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"],
          "node": 8
        },
        "modules": false
      }
    ]
  ],
  "plugins": ["external-helpers"]
}
