{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 3%", "IE 11"],
          "node": 8
        },
        "modules": false,
        "debug": true,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": ["@babel/plugin-external-helpers"]
}
