{
    "env": {
        "browser": true,
        "jest": true,
        "node": true,
        "es6": true
    },
    "globals": {
        "browser": true,
        "page": true
    },
    "extends": ["eslint:recommended", "prettier"],
    "plugins": ["playwright"],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 12
    },
    "rules": {
        "no-empty": ["error", {"allowEmptyCatch": true}],
        "object-shorthand": "warn",
        "no-useless-rename": "warn",
        "no-var": "warn",
        "prefer-const": "warn"
    }
}
