if COMPRESS is defined and COMPRESS
  @require 'node_modules/verso-browser/dist/verso.min.css'
else 
  @require 'node_modules/verso-browser/dist/verso.css'

@require 'kits/paged-publication/viewer'
@require 'kits/paged-publication/header'