@require 'node_modules/verso-browser/dist/verso.css'
@require 'kits/paged-publication/viewer'
@require 'kits/paged-publication/header'
@require 'kits/paged-publication/hotspot-picker'
@require 'kits/paged-publication/widget'
