.verso__page-spread
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    display none

    for $percentage in (1..100)
        &[data-width=\"{$percentage}\"]
            width ($percentage)%
    
.verso__page
    absolute top left
    bottom 0
    width 100%
    transform-style preserve-3d // Ensure smooth zooming
    background-repeat no-repeat
    background-position center center

.verso--scrollable
    overflow-y auto
    -webkit-overflow-scrolling touch
    
// Position verso and recto using translateX to ensure subpixel rendering.
.verso-page--verso
    background-position right center
    transform translateX(0)
    width 50%

.verso-page--recto
    background-position left center
    transform translateX(100%)
    width 50%

.verso__overlay
    absolute top left
    width 0%
    height 0%
    z-index 2
    display block
    cursor pointer
