.sgn-scroll-contents 
    position absolute
    background #ffffff
    border-radius 6px
    padding 10px 0px 10px 10px

.sgn-offers-dd 
    display block
    z-index 9
    position absolute
    background #fff
    right 515px

.sgn-offers-ol 
    height 250px
    width 400px
    overflow-y scroll
    list-style-type none
    padding 10px
    color #000000

.sgn-offers-li-flex-container 
    display flex
    border-bottom 1px solid #eee
    height 70px

.sgn-offers-li-div-img 
    flex 20%
    padding 5px

    > img 
        object-fit cover
        width 60px
        height 60px

.sgn-offers-li-div-text 
    flex 80%
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

.sgn-offers-text-heading 
    color #8aa31b
    font-weight bold