.incito
    position relative
    font-family -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
    box-sizing border-box
    text-rendering optimizeLegibility

    *:before,
    *,
    *:after
        box-sizing inherit
        
    [data-link]
        cursor pointer

.incito__view
    transform-origin 0 0
    overflow hidden
    margin 0
    padding 0
    display block
    background-repeat no-repeat
    border 0
    
    &[data-gravity="center_horizontal"]
        margin-left auto !important
        margin-right auto !important

    &[data-gravity="left_horizontal"]
        margin-right auto !important

    &[data-gravity="right_horizontal"]
        margin-left auto !important

.incito__video-embed-view > iframe
    width 100%
    height 100%
    border 0

.incito__text-view
    margin 0
    hyphens manual
    font-family inherit
    word-break break-word
    overflow-wrap break-word
    word-wrap break-word
    text-overflow ellipsis
    -moz-osx-font-smoothing grayscale
    font-smoothing antialiased

    a
        color inherit
        text-decoration underline

    &[data-single-line="true"]
        white-space nowrap

    [data-name="superscript"]
        vertical-align baseline
        position relative
        top -0.5em
        font-size 0.6em

.incito__image-view
    border none
    box-shadow none

.incito__absolute-layout-view
    position relative
    
    > *
        position absolute