.sgn__publications
    font-family inherit
    font-size 14px
    color #202020

.sgn-publications-list-items-container
    display grid
    grid-template-columns repeat(auto-fill, minmax(200px, 1fr))
    gap 24px 36px
    margin-top 0px
    margin-bottom 0px
    padding 0px
    list-style none

.sgn-publications-li
    position relative

    &[data-status="inactive"]
        .sgn-publications-list-content-img
            > img
                opacity 0.5

.publications__item
    box-shadow rgba(0, 0, 0, .4) 0px 0px 10px
    border-radius 10px
    padding 12px
    transition transform ease 200ms

    &:hover
        cursor pointer
        transform scale(1.02)

.sgn-publications-list-content-img
    width 100%
    padding-top 132%
    position relative
    border-radius 10px
    background rgba(151, 149, 146, 0.5)
    overflow hidden
    margin-bottom 10px

    > img
        object-fit cover
        object-position center top
        width 100%
        height 100%
        position absolute
        top 0

.sgn-publications-list-content-heading
    font-weight 600
    text-overflow ellipsis
    white-space nowrap
    overflow hidden

.sgn-publications-list-content-status
    position absolute
    bottom 0
    left 0
    width 100%
    background-color rgba(0, 0, 0, 0.6)
    color #ffffff
    font-weight 600
    font-size 20px
    line-height 28px
    text-align center
    border-radius 10px

.sgn-publications-list-content-date
    font-size 12px

@media (max-width 451px)
    .sgn-publications-list-items-container
        display grid
        grid-template-columns repeat(auto-fill, minmax(130px, 1fr))

@media (max-width 311px)
    .sgn-publications-list-items-container
        display grid
        grid-template-columns repeat(auto-fill, minmax(80px, 1fr))