.sgn__publications
    max-width 1024px
    margin auto

.publications__item
    text-align center
    margin-top 20px
    float left
    width 50%
    transition transform ease 300ms
    
    &:hover
        transform scale(1.1)

    > img
        display block
        max-width 300px
        min-height 50px
        cursor pointer
        margin 0 auto 10px
        border 1px solid #eee
        border-radius 3px
