.tjek__btn
    display inline-block

    &:hover,
    &:focus
        text-decoration none

.tjek-btn--fab
    width 40px
    height 40px
    line-height 40px
    text-align center
    overflow hidden
    background-color rgba(#000, 0.2)
    border-radius 50%
    color #fff
    font-size 1.3em
    font-weight bold

    &:hover,
    &:focus
        background-color rgba(#000, 0.6)
        color #fff
    
    &:active
        background-color rgba(#000, 0.8)