.sgn__navbar
    align-items stretch
    display flex
    flex-wrap wrap
    justify-content space-between

    .sgn-navbar__section
        align-items stretch
        display flex
        flex 1 0 0

        &:last-child
            justify-content flex-end

    .sgn-navbar__center
        align-items center
        display flex
        flex 0 0 auto