.sgn__popover
    background-color #fff
    color #000
    border-radius 12px
    max-width 220px
    box-shadow 0 0 8px rgba(#000, 0.2)

.sgn-popover__header
    padding 10px 12px
    font-size 14px
    text-align center
    background-color #f9f9f9
    border-radius top left 12px
    border-radius top right 12px
    border-bottom 1px solid #e6e6e6

.sgn-popover__content
    padding 8px
