.sgn-popover
    fixed top left
    right 0
    bottom 0
    z-index 3

.sgn-popover__menu
    position absolute
    z-index 4
    outline 0
    background-color #fff
    color #000
    border-radius 12px
    max-width 220px
    min-width 170px
    box-shadow 0 0 8px rgba(#000, 0.2)

    ul
        list-style-type none
        margin 0
        padding 0

    li
        margin 0
        padding 8px 0
        border-bottom 1px solid #e6e6e6
        cursor pointer

        &:first-child
            padding-top 0

        &:last-child
            border-bottom 0
            padding-bottom 0

.sgn-popover__content
    padding 8px

.sgn-popover-item__title
    font-size 16px
    overflow ellipsis
    margin 0

.sgn-popover-item__subtitle
    font-size 14px
    margin 2px 0 0
    overflow ellipsis

.sgn-popover__header
    padding 10px 12px
    line-height 1
    font-size 16px
    text-align center
    background-color #f9f9f9
    border-radius top left 12px
    border-radius top right 12px
    border-bottom 1px solid #e6e6e6

.sgn-popover__background
    absolute top left
    right 0
    bottom 0
    cursor pointer