.tjek-offer-details
    absolute top
    z-index 10
    background-color #fff
    border-left 4px solid rgba(#000, 0.8)
    border-right 4px solid rgba(#000, 0.8)
    border-bottom 4px solid rgba(#000, 0.8)
    border-top 4px solid rgba(#000, 0.8)
    border-radius bottom left 10px
    border-radius bottom right 10px
    padding 10px
    opacity 0
    transition all ease 0.2s
    transform translateY(-50%) scale(0.8)
    outline 0
    box-sizing border-box

    & > &-inner 
        background #fff
        height 4px
        top -4px
        position absolute
    
    &.in
        opacity 1
        transform translateY(0px) scale(1)