.sgn__pp
    .sgn-pagedecoration
        position absolute
        outline 0
        background-color #fff
        color #3e3e3e
        border-radius 12px
        padding 8px 16px
        box-shadow rgba(0, 0, 0,  0.4) 0px 5px 16px, rgba(0, 0, 0, 0.2) 0px 0px 1px
        bottom 26px
        left 50%
        transform translateX(-50%)
        animation-name sgn-animate-pagedecoration
        animation-timing-function ease
        animation-duration .5s
        z-index 99

        a
            text-decoration none
            color inherit
            
            .sgn-pagedecoration-item__domain
                font-size 14px
                margin 0
                text-align center

    .sgn-pagedecoration-hidden
        display none
    
    
    .sgn-pagedecoration-hotspot
        position absolute
        z-index 99

    .sgn-pagedecoration-hotspot-link
        text-decoration none
        font-size 14px

    .sgn-pagedecoration-hotspot-link-content
        display flex
        align-items flex-end
        padding 0.5rem
        
        &:hover
            background-color rgba(#fff, 0.1)
            box-shadow 0 0 15px rgba(#000, 0.3)
            border-radius 4px
            border 2px solid rgba(#fff, 0.8)
    
    .sgn-pagedecoration-hotspot-link-label
        outline 0
        background-color #fff
        color #3e3e3e
        border-radius 12px
        padding 8px
        box-shadow rgba(0, 0, 0,  0.4) 0px 5px 16px, rgba(0, 0, 0, 0.2) 0px 0px 1px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        margin-left auto
        margin-right auto

    



@keyframes sgn-animate-pagedecoration
    0%
        opacity 0
    10%
        opacity 0
    100%
        opacity 1

.sgn__pp
    &[data-component-template-disable-header="true"]
        .sgn-pagedecoration-center
            bottom 50px
