.sgn__pp
    .sgn-pagedecoration
        position absolute
        z-index 4
        outline 0
        background-color #fff
        color #000
        border-radius 12px
        min-width 170px
        padding 8px 12px
        box-shadow 0 0 8px rgba(#000, 0.6)
        top 90px
        left 50%
        transform translateX(-50%)
        animation-name sgn-animate-pagedecoration
        animation-timing-function ease
        animation-duration .3s

        a
            text-decoration none
            color inherit
            
            .sgn-pagedecoration-item__domain
                font-size 14px
                margin 0
                opacity .8
                text-align center

    .sgn-pagedecoration-left
        left 36%
        top 40px
        z-index 99

    .sgn-pagedecoration-right
        right 36%
        top 40px
        z-index 99
        left unset
        transform translateX(50%)

    .sgn-pagedecoration-hidden
        display none


@keyframes sgn-animate-pagedecoration
    0%
        opacity 0
    100%
        opacity 1
        
.sgn__pp
    &[data-component-template-disable-header="true"]
        .sgn-pagedecoration
            top 10px