.sgn-incito-publication--open
    overflow hidden !important

.sgn_loader-container
    position fixed
    background #fff
    top 0
    left 0
    right 0
    bottom 0

    .sgn_loader 
        position absolute
        top calc(50% - 80px)
        left calc(50% - 50px)
        border: 16px solid #2c2c2e
        border-top 16px solid #8b8c8f
        border-radius 50%
        width 80px
        height 80px
        animation spin 2s linear infinite

    @keyframes spin 
        0%
            transform: rotate(0deg)
        100%
            transform: rotate(360deg)

.sgn__incito
    &[data-component-template="true"]
        font-family inherit
        position fixed
        top 0
        left 0
        right 0         
        bottom 0
        overflow-y auto
        z-index 99

        button
            font-family inherit

        input
            font-family inherit

        .incito
            padding-top 80px
        
        .sgn__nav
            position fixed
            transform translateX(-50%)
            z-index 1
            white-space nowrap
            
    &[data-offer-clickable="true"]
        .incito__view
            &[data-role="offer"]
                cursor pointer

    &[data-component-template-disable-header="true"]
        .incito
            padding-top 0

        .sgn-incito__scroll-progress
            position -webkit-sticky
            position sticky
            top calc(100% - 4px)
            margin-bottom -4px
            width 100%
            height 4px
            z-index 99
            text-align center
            color #ffffff

        .sgn-incito__scroll-progress-text
            display block
            top -34px
            background rgba(0,0,0,0.3)
            left 50%
            width auto
            height auto
            padding 6px 18px
            font-size 14px
            border-radius 6px
            font-weight bold
            letter-spacing -1px
            line-height 1
