.sgn-sections-list-items-container
    height 650px
    overflow-y scroll
    list-style-type none
    padding 0 10px

.sgn-sections-list-item-container

    &:hover
        cursor pointer

    .sgn-sections-content-container
        border-bottom 1px solid #d5d5d5
        padding 10px

@media (max-height 900px)
    .sgn-sections-list-items-container
        height 540px

@media (max-height 790px)
    .sgn-sections-list-items-container
        height 400px
