.sgn__pp
    position relative
    color #000
    overflow hidden
    outline 0

.verso__scroller
    top 50px

.sgn__header
    position absolute
    font-family sans-serif
    z-index 99
    height 50px
    margin auto
    width 100%

    > .sgn__nav-logo
        padding 10px

    > .sgn__nav
        position absolute
        right 10px
        top 10px
        background-color transparent

        > button
            color #f5f5f5
            background-color rgba(0, 0, 0, 0.2)
            min-width 25px
            display inline-block
            vertical-align middle
            border-radius 4px
            padding 6px 12px
            border 1px solid transparent
            min-width 70px
            cursor pointer

.sgn__nav-menu
    display none
    position absolute
    right 0
    background-color #e6e6e6
    color #6b6b6b
    list-style-type none
    padding 0
    border-radius 6px
    margin-top 5px
    font-size 13px
    text-align center

    > li
        border-bottom 1px solid rgba(255,255,255,.6)
        padding 10px 25px
        cursor pointer

        &:hover
            background-color rgba(0,0,0,.5)
            color #ffffff
            border-radius 6px

        &:last-child
            border-bottom 0

.sgn-clearfix
    clear both

.sgn-blocker
    position fixed
    top 0
    left 0
    bottom 0
    right 0
    content ' '
    background rgba(0, 0, 0, 0.1)
