.sgn__pp
    position relative
    color #000
    overflow hidden
    outline 0
    font-family sans-serif

.verso__scroller
    top 80px

.sgn__header
    position absolute
    display none
    font-family sans-serif
    z-index 99
    height 80px
    margin auto
    width 100%
    text-align center
    animation-duration .4s
    animation-iteration-count 1

    > .sgn__nav
        position relative
        display inline-block
        height 66px
        background-color transparent
        margin-top 8px
        border-radius 12px
        padding 0 16px
        overflow hidden
        background-color rgba(0,0,0, .1)
        box-shadow rgba(0, 0, 0,  0.4) 0px 5px 16px, rgba(0, 0, 0, 0.2) 0px 0px 1px
        text-align center

        > button
            color #F3F3F9
            background-color transparent
            display inline-block
            vertical-align middle
            padding 18px 12px
            border 0
            cursor pointer

            > svg
                width 25px

            .sgn-header-icon-svg-close
                width 18px

            .sgn__offer-shopping-list-counter
                display block
                position absolute
                margin-left 20px
                margin-top -34px
                padding 1px
                background #f3f3f9
                color #202020
                border-radius 10px
                font-size 11px
                box-shadow 1px 2px rgba(0, 0, 0, 0.3)
                width 17px
                height 17px
                line-height 1.5
                animation-duration .4s
                animation-iteration-count 1

.sgn-animate-bounce
    animation-name sgn-animate-bounce
    animation-timing-function ease


.sgn-animate-header
    display block
    animation-name sgn-animate-header
    animation-timing-function ease

@keyframes sgn-animate-bounce
    0%
        transform translateY(0)
    50%
        transform translateY(-8px)
    100%
        transform translateY(0)

@keyframes sgn-animate-header
    0%
        transform translateY(-100px)
    100%
        transform translateY(0)

.sgn-clearfix
    clear both

.sgn-blocker
    position fixed
    top 0
    left 0
    bottom 0
    right 0
    content ' '
    background rgba(0, 0, 0, 0.1)
