.sgn-paged-publication--open
    overflow hidden !important

.sgn__pp
    &[data-component-template="true"]
        font-family sans-serif

        .verso__scroller
            top 80px
        
        .sgn-pp__control
            background transparent
            border 0

        &[data-layout-fixed="true"]
            z-index 99

        &[data-component-template-disable-header="true"]
            .verso__scroller
                top 0

        &[data-zoomed-in="true"]
            .sgn__nav-content
                padding 8px 14px

        .sgn-pp__control
            cursor pointer
            
            &[data-direction="first"]
                font-size 36px
                left 50%
                top 30px
                transform translateX(-146px)
                width auto
                z-index 99

            &[data-direction="last"]
                font-size 36px
                right 50%
                top 30px
                transform translateX(146px)
                width auto
                z-index 99

@media (max-aspect-ratio 5/4)
    .sgn-pp__control
        &[data-direction="first"]
            display none

        &[data-direction="last"]
            display none

.sgn-clearfix
    clear both
