.sgn-scroll-contents
    position absolute
    background #ffffff
    border-radius 6px
    padding 10px 0px 10px 10px

.sgn-offers-container
    display block
    z-index 9
    position absolute
    background #fff
    right 515px

.sgn-offers-ol
    height 250px
    width 400px
    overflow-y scroll
    list-style-type none
    padding 10px
    color #000000

.sgn-offers-search-container
    padding-left 14px

.sgn-offers-search-text
    width 78%

.sgn-offers-li-flex-container
    border-bottom 1px solid #eee
    height 70px

    &:last-child
            clear both

.sgn-offers-li-div-img
    padding 5px
    width 20%
    float left

    > img
        object-fit cover
        width 60px
        height 60px

.sgn-offers-li-div-text
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    width 76%
    float left

.sgn-offers-text-heading
    color #8aa31b
    font-weight bold