.sgn-offers-ol
    height 650px
    overflow-y scroll
    list-style-type none
    padding 0 10px
    color #000000

.sgn-offers-search-container
    padding-top 10px

.sgn-offers-search-text
    border-radius 4px
    padding 6px 12px
    margin 0px
    background-color #d3d3d3
    color #202020
    line-height 1.42857
    resize vertical
    border 1px solid rgba(255, 255, 255, 0.15)
    width 96%

.sgn-offers-li
    width 31%
    text-align center
    margin 1%
    margin-bottom 12px
    float left

.sgn-offers-li-flex-container
    text-decoration none
    padding 12px
    box-shadow rgba(0, 0, 0, .3) 0px 0px 10px
    border-radius 10px
    height: 246px;

.sgn-offers-li-div-img
    background-color rgb(204, 204, 204)
    background-size cover
    background-position center center
    border-radius 6px
    overflow hidden
    position relative
    border 0px
    width 100%
    height auto
    padding-top 100%

    > img    
        object-fit cover
        object-position center center
        width 100%
        height 100%
        position absolute
        inset 0px

.sgn-offers-li-div-text
    white-space nowrap
    overflow hidden
    color #202020
    padding 4px 0px 0px 0px
    text-align left

.sgn-offers-li-heading
    font-weight 600
    line-height 1.2
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    max-width 300px

.sgn-offers-li-description
    font-size 0.9em
    opacity 0.6
    color inherit

.sgn-offers-li-price
    font-variant-numeric tabular-nums
    color rgb(40, 175, 76)
    font-size 0.9em

.sgn-offers-li-brand
    color white
    font-size 12px
    font-weight 500
    line-height 1.3
    margin 4px 0px 0px 0px

    > span
        border-radius 4px
        padding 2px 4px


.sgn__theme-dark
    .sgn-offers-search-text
        background-color rgb(44, 44, 46)
        color rgb(243, 243, 249)
        border 2px solid rgba(0, 0, 0, 0.15)
    
    .sgn-offers-li-flex-container
        box-shadow rgba(243, 243, 249, .15) 0px 0px 10px
    
    .sgn-offers-li-div-img
        background-color rgb(204, 204, 204)
    
    .sgn-offers-li-div-text
        color #F3F3F9


@media (max-height 790px)
    .sgn-offers-ol
        height 400px
