.sgn-pages-popup
    position relative
    background #fff
    border-radius 6px
    padding 10px 0px 10px 10px
    width 90%
    max-width 800px
    margin auto

.sgn-pages-popup
    color #000000

.sgn-pages-ol
    height 450px
    overflow-y scroll
    list-style-type none
    padding 10px

.sgn-page-li
    width 30%
    text-align center
    background #eee
    margin 1%
    padding 20px 0
    float left

.sgn-pages-img-container 

    > img
        height 150px
        width 120px

@media (max-width: 1094px)
    .sgn-page-li
        width 48%

@media (max-height 790px)
    .sgn-pages-ol
        height 400px