.sgn-pagedecoration
    position absolute
    z-index 4
    outline 0
    background-color #fff
    color #000
    border-radius 12px
    min-width 170px
    box-shadow 0 0 8px rgba(#000, 0.2)
    bottom 50px
    left 50%
    transform translateX(-50%)

    ul
        list-style-type none
        padding 0 14px
        margin 6px 0

    a
        text-decoration none
        color inherit

        .sgn-pagedecoration-item__header
            font-weight bold
            margin 0
            margin-bottom 4px
        
        .sgn-pagedecoration-item__domain
            font-size 12px
            margin 0
            opacity .6