.sgn-page-decoration-list-items-container
    overflow-y scroll
    list-style-type none
    padding 0 10px

.sgn-page-decoration-list-item-container

    &:hover
        cursor pointer

    .sgn-page-decoration-content-container
        border-bottom 1px solid #d5d5d5
        padding 10px
