.sgn-popup-contents
    position fixed
    background #fff
    border-radius 6px
    padding 10px 0px 10px 10px
    top 50vh
    left 50vw
    transform translate(-50%, -70%)

.sgn-pages-dd
    display block
    z-index 9
    position absolute
    background #eee
    /* border-radius 6px
    padding 10px 0px 10px 10px */

.sgn-pages-popup
    background #eee

.sgn-pages-ol
    height 350px
    width 600px
    overflow-y scroll
    list-style-type none
    padding 10px

.sgn-page-li
    width 30%
    text-align center
    background #fff
    margin 1%
    padding 20px 0
    float left

.sgn-pages-img-container 

    > img
        height 150px
        width 120px