.sgn-pages-ol
    height 650px
    overflow-y scroll
    list-style-type none
    padding 10px

.sgn-page-li
    width 30%
    text-align center
    margin 1%
    padding 20px 0
    float left

.sgn-pages-img-container 
    padding 8px

    > img
        width 100%

@media (max-width: 1094px)
    .sgn-page-li
        width 48%

@media (max-height 790px)
    .sgn-pages-ol
        height 400px