.sgn-shopping-popup
    position relative
    background #fff
    border-radius 6px
    padding 10px 0px 10px 10px
    color #000000
    margin auto
    width 90%
    max-width 800px

    > button
        background gray
        border none
        text-align center
        margin 4px 2px
        cursor pointer

.sgn-shopping-dd
    display block
    z-index 9
    position absolute
    background #fff

.sgn-shopping-ol
    height 350px
    overflow-y scroll
    list-style-type none
    padding 10px
    color #000000

.sgn-shopping-li-flex-container
    border-bottom 1px solid #eee
    padding 10px
    align-items center
    
    &:last-child
            clear both

    > button
        background gray
        border none
        text-align center
        margin 4px 2px
        cursor pointer

.sgn-popup-header
    border-bottom 1px solid #eee
    padding 10px


.sgn-shopping-li-div-text
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    float left
    width 76%

.sgn-shopping-li-div-btn
    float left
    width 20%
    text-align right

@media print
    .sgn__pp
        overflow-y visible
        position relative!important
        z-index 9

    .sgn__header
        overflow-y visible
        position relative

    .sgn-hide-print
        display none

    .sgn-shopping-ol
        overflow-y visible
        height 100%
        position relative
