.sgn-stores-container
    position relative
    background #fff
    border-radius 6px
    padding 10px 0px 10px 10px
    color #000000
    width 90%
    max-width 545px
    margin auto
    
.sgn-scroll-contents
    position relative
    background #ffffff

.sgn-stores-ol
    height 370px
    overflow-y scroll
    list-style-type none
    padding 0 10px
    color #000000

.sgn-stores-li-flex-container
    border-bottom 1px solid #eee

.sgn-stores-li-div-text
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    padding 10px 0

.sgn-stores-text-heading
    color #8aa31b
    font-weight bold

@media (max-height 790px)
    .sgn-stores-ol
        height 300px
