.incito__text-view
    margin 0
    hyphens auto
    word-break break-word
    overflow-wrap break-word
    word-wrap break-word
    text-overflow ellipsis
    -moz-osx-font-smoothing grayscale
    font-smoothing antialiased

    a
        color inherit
        text-decoration underline

    &[data-single-line="true"]
        white-space nowrap

    [data-name="superscript"]
        vertical-align baseline
        position relative
        top -0.5em
        font-size 0.6em