.incito__view
    transform-origin 0 0
    overflow hidden
    margin 0
    padding 0
    display block
    background-repeat no-repeat
    border 0
    
    &[data-gravity="center_horizontal"]
        margin-left auto !important
        margin-right auto !important

    &[data-gravity="left_horizontal"]
        margin-right auto !important

    &[data-gravity="right_horizontal"]
        margin-left auto !important