.sgn__incito
    position relative
    outline 0

    &.sgn-incito--started
        .sgn-incito__progress
            display inline-block

    &.sgn-incito--started
        &:not(.sgn-incito--scrolling) .sgn-incito__progress
            transition opacity ease 1s

        &.sgn-incito--scrolling .sgn-incito__progress
            opacity 1

.sgn-incito__progress
    position fixed
    left 50%
    bottom 0
    display none
    transform translateX(-50%)
    z-index 2
    background-color #000
    opacity 0.5
    color #fff
    min-width 80px
    text-align center
    padding 8px 12px 6px 12px
    border-radius top left 6px
    border-radius top right 6px
    font-weight bold
    font-size 14px
    font-family "Lucida Sans Unicode", "Lucida Grande", sans-serif
    letter-spacing -1px
    line-height 1

    &:hover
        opacity 1
    
    @media (min-width: 700px)
        padding 16px 24px 10px 24px
        font-size 18px